body {
    background-color: #FE7E21;
}

/*PERFIL DE USUARIO*/
.usuario-wiki{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border-radius: 151px 151px 151px 151px;
    border: 2px solid black;
    background-color: rgb(170, 138, 89);
    color: #fff;
    flex-wrap: wrap;
    align-content:center;
    width:4%; 
    margin: 0 auto; 
}
.usuario-foto {
    width: 50px;
    height: 50px;
}

#nombre_de_usuario{
    text-align: center;
}

/*LOGO DE LA PAGINA*/

.contenedor-valve-wiki{
    width: 500px;
    height: 17px;
	margin: auto;
	padding: 75px 0;
	display: flex;
    justify-content:center;
    align-items: center;
}

#valve_logo {
    width: 300px;
    height: 300px;
}

.contenedor-valve-wiki h1{
    padding: 10px;
    color: black ;
    display: inline-flex;
}

/*NAVEGADOR*/ * navegador
.contenedor-nav{
    margin: auto;
    width: 900px;
}

.contenedor-nav ul {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav li{
    list-style: none;
    min-width: 5%;
}
.nav li a{
    background-color:  rgb(52, 63, 33);
    color: #fff;
    text-decoration: none;
    border-radius: 10%;
    padding: 10px 15px;
    margin: 5px;
    display: block;
}

.nav li a:hover {
    background-color: 434343 ;
}

.nav > li{
    float: left;
}
/*SUBMENU*/
.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

.nav li:hover > ul li a {
    background-color: rgb(177, 163, 85);
}

.nav li ul li a:hover {
    background-color: 434343 ;
}

/*BOTONES*/




/*PRESENTACION DEL CREADOR*/
#presentacion-del-creador{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#presentacion-wiki {
    text-align: center;
    border-radius: 30px;
    width: 600px;
    box-shadow: 0px 0px 10px 0px black;
    background-color: rgb(227, 183, 122);
}

#que-es {
    width: 400px;
    margin: auto;
}

#foto-creador{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 5px solid red;
}

/*CONTACTOS*/
.contenedor-red-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.contenedor-red-social a img{
    align-content: center;
    display: inline-block;
    margin: 20px;
}

.contenedor-red-social a img:hover{
    filter: blur(2px);
    transform: translateY(-3px)scale(1.05)
}

.configuracion-foto-red-social{
    width: 50px;
    height: 50px;
}

#facebook-img {
    height: 40px;
    width: 40px;
    margin-bottom: 25px;
}