/*FONDOS DE PANTALLA DE LA WEB*/
#pagina-principal {
    background-image: url(./img/XZKK-qZz_400x400.png);
    background-repeat: no-repeat;
    background-size:cover;
    
}

#inicio-registro{
    background-image: url(./img/VALVE/logo_valve/Whats-it-like-working-on-Steam-Secrets-of-the-platform.webp);
    background-repeat: no-repeat;
    background-size:cover;
    
}

/*PERFIL DE USUARIO*/
.usuario-wiki{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border-radius: 151px 151px 151px 151px;
    border: 2px solid black;
    background-color: #FE7E21;
    color: #fff;
    flex-wrap: wrap;
    align-content:center;
    width:4%; 
    margin: 0 auto; 
}
.usuario-foto {
    width: 50px;
    height: 50px;
    border-radius: 200px 200px 200px 200px;
}

#nombre_de_usuario{
    text-align: center;
    color: white;
}

/*LOGO DE LA PAGINA*/

.contenedor-valve-wiki{
    width: 200px;
    height: 17px;
	margin: auto;
	padding: 75px 0;
	display: flex;
    justify-content:center;
    align-items: center;
}

#valve_logo {
    width: 250px;
    height: 75px;
}

.contenedor-valve-wiki h1{
    padding: 10px;
    color: rgb(180, 180, 180) ;
    display: inline-flex;
    font-size: 30px;
}

/*FORMULARIO DE INICIO Y REGISTRO*/

.contenedor-sesion-registro{
    background-color: rgb(233, 123, 123);
    height:500px ;
    width: 700px;
    position: absolute;
    top: 20%;
    left: 35%;
    box-shadow: 0px 0px 70px 0px black ;
    border-radius: 10%;
}

.contenedor-sesion-registro h1{
    text-align: center;
    padding-bottom: 10px;
}

.contenedor-sesion-registro form{
    padding: 0 40px;
    box-sizing: border-box;
}

* 
/*modificaciones al ingreso de datos*/
.ingreso-dato-registro-inicio {
    position: relative;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.ingreso-dato-registro-inicio input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.ingreso-dato-registro-inicio label {
    position: absolute;
    top: 50%;
    left: 0%;
    color: rgb(241, 170, 170);
    transform: translateY(-50%);
    font-size: 20px;
    pointer-events: none;
}

/*animacion del usuario y contraseña*/
.ingreso-dato-registro-inicio span::before{
    content:'';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    color: red;
}

.ingreso-dato-registro-inicio input:focus ~  label ,
.ingreso-dato-registro-inicio input:focus  ~  label {
    top: -5px;
    color: red;
}

.ingreso-dato-registro-inicio  ~  span::before ,
.ingreso-dato-registro-inicio  ~  span::before {
    width: 100%;
}

.olvido{
    text-decoration: none;
}
/*parte final de iniciar o registra*/



.recordar-registro-inicio{
    text-align: center;
}



/*NAVEGADOR*/ 
.contenedor-nav{
    margin: auto;
}

.contenedor-nav ul {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav li{
    list-style: none;
    min-width: 5%;
}
.nav li a{
    background-color: rgba(0,50,50, 0.7);
    color: #fff;
    text-decoration: none;
    border-radius: 10%;
    padding: 15px 15px;
    margin: 10px 20px 5px 0px;
    display: block;
    text-align: center;
    transition: 1s;
    height: 25px;
    width: 125px;
}

.nav li a:hover {
    background-color: rgba(43,43,43, 0.7);
    border: 1px solid gold;
}

.nav > li{
    float: left;
}
/*SUBMENU*/
.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

.nav li:hover > ul li a {
    background-color: rgba(252, 73, 73 , 0.7); /*#f74843*/
    margin: 7px 0px 7px 0px;
}

.nav li ul li a:hover {
    background-color: 434343 ;
}

/*BOTONES*/

/*PRESENTACION DEL CREADOR*/
#presentacion-del-creador{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#presentacion-wiki {
    text-align: center;
    border-radius: 30px;
    width: 600px;
    box-shadow: 0px 0px 10px 0px black;
    background-color: #FE7E21;
}

#que-es {
    width: 400px;
    margin: auto;
}

#foto-creador{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 5px solid red;
}

/*CONTACTOS*/
.contenedor-red-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.contenedor-red-social a img{
    align-content: center;
    display: inline-block;
    margin: 20px;
}

.contenedor-red-social a img:hover{
    filter: blur(2px);
    transform: translateY(-3px)scale(1.05)
}

.configuracion-foto-red-social{
    width: 50px;
    height: 50px;
}

#facebook-img {
    height: 40px;
    width: 40px;
    margin-bottom: 25px;
}